#nav
{
	border-right: 1px solid #000;
	margin-top: 1px;
	margin-bottom: 1em;
	font-family: verdana;
	background-color: #508fc4;
	font-size: 95%;
}

#nav h5
{
	margin: 0;
	margin-top: -2px;
	border-top: 1px solid darkblue;
	border-bottom: 1px solid darkblue;
	background-color: #90bade;
	padding: 3px;
	color: #1958b7;
}

#nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
	
#nav li
{
	border-bottom: 1px solid #90bade;
	margin: 0;
}
	
#nav li a
{
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 10px solid #1958b7;
	border-right: 10px solid #508fc4;
	background-color: #2175bc;
	color: #dddddd;
	text-decoration: none;
	width: 100%;
}

html>body #nav li, html>body #nav li a
{
	width: auto;
}


#nav li a:hover,
#nav li.current a
{
	border-left: 10px solid #1c64d1;
	border-right: 10px solid #5ba3e0;
	background-color: #2586d7;
	color: white;
}

#nav li a:hover
{
	font-weight: bold;
}
